*{
    font-family: "Segoe UI", "Trebuchet MS", "Verdana", sans-serif;
}

nav p {
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

nav{
    font-size: 19px;
}

#manage_user:hover, 
#report:hover {
    background-color: #510370;
    padding-top: 23.5px;
    padding-bottom: 23.5px;
    text-shadow: 3px 3px 5px black;
}