<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaveList | HomePage</title>
    <link rel="stylesheet" th:href="@{/css/homePage.css}">
    <script th:src="@{/js/slideShow.js}" defer></script>
    <link rel="icon" href="assets/icon.png" type="image/png">
</head>
<header>
    <div class="kotak_ungu"></div>
    <nav>
        <img src="assets/logo5.png" alt="logo image" id="logo">
        <P id="home"><a th:href="@{/}">HOME</a></P>
        <p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
        <P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
        <P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
        <P id="song">SONG</P>

        <div class="button-container">
            <button type="submit" class="button setlist"><a th:href="@{/addsetlist}">+SET LIST</a></button>
            <form action="/logout" method="GET" th:if="${isUserLoggedIn}">
                <button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>
            </form>
            <form action="/login" method="GET" th:if="${!isUserLoggedIn}">
                <button type="submit" class="button login">LOG IN</button>
            </form>       
        </div>
    </nav>
</header>
<body>
    <div class="search-container">
        <img src="assets/background_search_main.png" alt="" class="background-search">
        <div class="blackBox"></div>
        <div class="search_bar">
            <form action="/search" method="GET">
                <h1 id="slogan">Discover Your Favourite...</h1>
                <input name="filter" type="text" placeholder="Search for artist, song, album, concert, ...">
            </form>
            <div>
                <img src="assets/search.png" alt="" class="icon_search">
            </div>
        </div>
    </div>
</body>
</html>