<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaveList | Concert</title>
    <link rel="stylesheet" th:href="@{/css/concert.css}">  
    <script th:src="@{/js/pagination.js}" defer></script>
    <link rel="icon" href="assets/icon.png" type="image/png">
</head>
<header>
    <div class="kotak_ungu"></div>
    <nav>
        <img src="assets/logo5.png" alt="logo image" id="logo">
        <P id="home"><a th:href="@{/}">HOME</a></P>
        <p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
        <P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
        <P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
        <P id="song"><a th:href="@{/song}">SONG</a></P>

        <div class="button-container">
            <form action="/addsetlist" method="GET">
                <button type="submit" class="button setlist">+SET LIST</button>
            </form>
            <form action="/logout" method="GET" th:if="${isUserLoggedIn}">
                <button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>
            </form>
            <form action="/login" method="GET" th:if="${!isUserLoggedIn}">
                <button type="submit" class="button login">LOG IN</button>
            </form>
        </div>
    </nav>
</header>

<body>

    <div class="search-container">
        <img src="assets/background_search_main.png" alt="" class="background-search">
        <div class="blackBox"></div>
        <div class="search_bar">
            <form action="/concert" method="get">
                <h1 id="slogan">Discover Your Favorite Concert</h1>
                <input type="text" placeholder="Search for Concert..." th:value="${filter}" name="filter">
                <input type="hidden" name="page" th:value="1">
            </form>
            <div>
                <img src="assets/search.png" alt="" class="icon_search">
            </div>
        </div>
    </div>

    <!-- <div class="concert-setlists"> -->
    <div class="artist-setlists">   <!-- ini css setlist -->
        <h1>Concerts</h1>
        <h3>Top concert by concertgoers</h3>
        <ul class="artist-list" th:each="show : ${listShow}">
            <li>
                <a th:href="@{/concert/{namaShow}-{idShow}(namaShow=${#strings.replace(show.namaShow, ' ', '-')}, idShow=${show.idShow})}" th:text="${show.namaShow}"></a>
                <div class="popularity-bar">
                    <div class="filled-bar" th:style="'width: ' + ${(max != 0 ? (show.jumlahPengguna * 100.0 / max) : 0) + '%'}"></div>
                </div>
                <span class="popularity-count" th:text="${show.jumlahPengguna} + ' users'"></span>
            </li>
        </ul>
        <th:block th:include="~{/pagination :: pagination}"></th:block>
    </div>
</body>

</html>