<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaveList | Concert-Artist</title>
    <link rel="stylesheet" th:href="@{/css/concertDetail.css}">
    <link rel="icon" href="/assets/icon.png" type="image/png">
</head>
<header>
  <div class="kotak_ungu"></div>
  <nav>
      <img src="/assets/logo5.png" alt="logo image" id="logo">
      <P id="home"><a th:href="@{/}">HOME</a></P>
      <p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
      <P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
      <P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
      <P id="song"><a th:href="@{/song}">SONG</a></P>
      <P id="manage_user" th:if="${isAdmin}"><a th:href="@{/manageUser}">MANAGE USER</a></P>
      <P id="report" th:if="${isAdmin}"><a th:href="@{/report}">REPORT</a></P>

    <div class="button-container">
      <form action="/addsetlist" method="GET">
        <button type="submit" class="button setlist">+SET LIST</button>
      </form>
      <form action="/logout" method="GET" th:if="${isUserLoggedIn}">
          <button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>
      </form>
      <form action="/login" method="GET" th:if="${!isUserLoggedIn}">
          <button type="submit" class="button login">LOG IN</button>
      </form>
    </div>
  </nav>
</header>
    <body>
      <div class="search-container">
        <img src="/assets/background_search_main.png" alt="" class="background-search">
        <div class="blackBox"></div>
        <div class="search_bar">
            <form action="/artist" method="get">
                <h1 id="slogan">Discover Your Favorite Artist</h1>
                <input type="text" placeholder="Search for Artists..." th:value="${filter}" name="filter">
                <input type="hidden" name="page" th:value="1">
            </form>
            <div>
                <img src="/assets/search.png" alt="" class="icon_search">
            </div>
        </div>
    </div>


    <div class="content-wrapper">
      <div class="show-image">
        <img th:src="@{'/api/uploads/images' + ${show.urlGambarShow}}" alt="Show Image">
      </div> 
      <div class="concert-setlists">
          <h1 th:text="${show.namaShow}"></h1>
          <h3></h3>
          <div class="location">
            <img src="/assets/userss.png" alt="Users image" class="map-image">
            <p th:text="${jumlahUser} + ' users are there'"></p>
          </div>
          <div class="location">
            <img src="/assets/calender.jpg" alt="Date image" class="map-image">
            <p><strong>Date: </strong><span th:text="'Date: ' + ${#dates.format(show.beginDate, 'dd-MM-yyyy')} + ' to ' + ${#dates.format(show.endDate, 'dd-MM-yyyy')}"></span></p>
          </div>
          <div class="location">
            <img src="/assets/map.png" alt="Users image" class="map-image">
            <p><strong>City: </strong><span th:text="${kota}"></span></p>
            <p><strong>Location: </strong><span th:text="${alamat}"></span></p>
          </div>
          <div class="location">
            <img src="/assets/sing.png" alt="Users image" class="map-image">
            <p><strong>Artist: </strong><span th:text="${artis}"></span></p>
          </div>
      </div>
    </div>
  

        </div>
        
        <!-- <div class="content-wrapper">
          <div class="artist-setlists">
            <h1>"ArtistName" Concert Setlists</h1>
            <h3></h3>
            <ul class="artist-list">
              <li>
                <a href="#">"ArtistName" at "Concert/Venue"</a>
                <span class="setlists">Date: "Date Month Year"</span>
              </li>
              <li>
                <a href="#">"ArtistName" at "Concert/Venue"</a>
                <span class="setlists">Date: "Date Month Year"</span>
              </li>
              <li>
                <a href="#">"ArtistName" at "Concert/Venue"</a>
                <span class="setlists">Date: "Date Month Year"</span>
              </li>
            </ul>
          </div>
          <div class="artist-image">
            <img src="@{/assets/artist-placeholder.jpg}" alt="Artist Image">
          </div>
        </div> -->
    </body>
</html>