<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FaveList | Edit Setlist</title>
    <link rel="stylesheet" th:href="@{/css/editSetlist.css}">
    <script th:src="@{/js/editSetlistv2.js}" defer></script>
    <link rel="icon" href="assets/icon.png" type="image/png">
</head>
<header>
    <div class="kotak_ungu"></div>
    <nav>
        <img src="assets/logo5.png" alt="logo image" id="logo">
        <P id="home"><a th:href="@{/}">HOME</a></P>
        <p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
        <P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
        <P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
        <P id="song"><a th:href="@{/song}">SONG</a></P>

        <div class="button-container">
            <button type="submit" class="button setlist"><a th:href="@{/addsetlist}">+SET LIST</a></button>
            <form action="/logout" method="GET" th:if="${isUserLoggedIn}">
                <button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>
            </form>
            <form action="/login" method="GET" th:if="${!isUserLoggedIn}">
                <button type="submit" class="button login">LOG IN</button>
            </form>
        </div>
    </nav>
</header>

<body>
    <div class="content-wrapper">
        <div class="artist-setlists">
            <div class="setlist-content">
                <h2>Edit Setlist- Songs</h2>
                    <form th:action="@{/edit/setlistSongs/{idSetlist}(idSetlist = ${idSetlist})}" method="post" enctype="multipart/form-data">
                        <ol class="artist-list">
                            <li th:each="lagu : ${listLagu}">
                                <div class="list-item">
                                    <input type="hidden" name="songNames" th:value="${lagu.namaLagu}"/>
                                    <p th:text="${lagu.namaLagu}"></p>
                                    <div class="actions">
                                        <img src="assets/edit.png" alt="edit-icon" class="icon">
                                        <a class="edit-song">Edit this song</a>
                                        <img src="assets/delete.png" alt="remove-icon" class="icon">
                                        <a class="remove-song">Remove this song</a>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <div class="form-group">
                            <label for="photos">Evidence(Photos):</label>
                            <input type="file" id="file" name="file" required>
                        </div>
                        <!-- <button class="button submit-button" type="submit">SUBMIT CHANGES</button> -->
                        <button id="addSong" type="button">Add new Song</button>
                        <button type="submit">SUBMIT CHANGES</button>
                    </form>
                </div>  
                <!-- <div class="form-group">
                    <label for="artist-name">Song Name:</label>
                    <input type="text" id="artist-name" name="artist-name" readonly placeholder="Click to select song" required>
                </div> -->
            </div>
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <div class="popup-header">
                <h4 id="popup-title">Select</h4>
                <span class="close-btn">&times;</span>
            </div>

            <div class="popup-body">
                <input type="text" id="search-input" placeholder="Type to search..." autocomplete="off">

                <div class="suggestions-container">
                    <h4>Suggestions</h4>
                    <ul id="suggestions-list"></ul>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" class="overlay"></div>

</body>

</html>