<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artist</title>
    <link rel="stylesheet" th:href="@{/css/searchPage.css}">
    <link rel="stylesheet" th:href="@{/css/homePage.css}">
</head>
<header>
    <div class="kotak_ungu"></div>
    <nav>
        <img src="@{/assets/icon.png}" alt="" id="logo">
        <P id="home"><a th:href="@{/}">HOME</a></P>
        <p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
        <P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
        <P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
        <P id="news">NEWS</P>

        <div class="button-container">
            <button type="submit" class="button setlist"><a th:href="@{/addsetlist}">+SET LIST</a></button>
            <!-- <form action="/logout" method="GET" th:if="${isUserLoggedIn}">
                <button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>
            </form>
            <form action="/login" method="GET" th:if="${!isUserLoggedIn}">
                <button type="submit" class="button login">LOG IN</button>
            </form> -->
        </div>
    </nav>
</header>

<body>
    <!--        Search Bar and Header Text-->
    <div class="search-container">
        <img src="assets/background_search_main.png" alt="" class="background-search">
        <div class="blackBox"></div>
        <div class="search_bar">
            <form action="/search" method="GET">
                <h1 id="slogan">Set Your Playlist, Set Your Mood</h1>
                <input name="filter" type="text" placeholder="Search for artist, song, album, concert, ..." th:value="${filter}">
            </form>
            <div>
                <img src="assets/search.png" alt="" class="icon_search">
            </div>
        </div>
    </div>
    <div class="artist-setlists">
        <h1>Related Setlists</h1>
        <h3>Top setlist of your search</h3>
        <ul class="artist-list" th:each="artis : ${listArtis}">
            <li>
                <a th:href="@{/artist/{namaArtis}-{idArtis}(namaArtis=${artis.namaArtis}, idArtis=${artis.idArtis})}" th:text="${artis.namaArtis}"></a>
            </li>
        </ul>
        <p class="last-updated"><a th:href="@{/artist(filter=${filter})}">See More...</a></p>
    </div>
    <div class="artist-setlists">
        <h1>Related Artist</h1>
        <h3>Top artists of your search</h3>
        <ul class="artist-list">
            
        </ul>
        <p class="last-updated"><a href="">See More...</a></p>
    </div>
    <div class="artist-setlists">
        <h1>Related Concert</h1>
        <h3>Top concert of your search</h3>
        <ul class="artist-list">
            
        </ul>
        <p class="last-updated"><a href="">See More...</a></p>
    </div>
</body>
</html>