<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setlist</title>
    <link rel="stylesheet" th:href="@{/css/setlist.css}">
</head>
<header>
    <div class="kotak_ungu"></div>
    <nav>
        <img src="@{/assets/icon.png}" alt="" id="logo">
        <P id="home"><a th:href="@{/}">HOME</a></P>
        <p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
        <P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
        <P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
        <P id="news">NEWS</P>

        <div class="button-container">
            <button type="submit" class="button setlist">+SET LIST</button>
<!--            <form action="/logout" method="GET" th:if="${isUserLoggedIn}">-->
<!--                <button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>-->
<!--            </form>-->
<!--                    <form action="/login" method="GET" th:if="${!isUserLoggedIn}">-->
            <button type="submit" class="button login">LOG IN</button>
            </form>
        </div>
    </nav>

</header>
<body>
    <div class="setlist-container">

<!--        Search Bar and Header Text-->
        <div class="search-container">
            <h1 id="slogan">Discover Your Favorite Setlists</h1>
            <img src="" alt="" class="background-search">
            <div class="blackBox"></div>
            <div class="search_bar">
                <form action="">
                    <input type="text" placeholder="Search for Setlists...">
                </form>
                <div>
                    <img src="assets/search.png" alt="" class="icon_search">
                </div>
            </div>
        </div>

        <div class="topsetlist">
            <h3>Top Setlists by Setlisthunter</h3>
            <ul class="listsetlist">
                <li><a href="#">Amazing Concert</a>  - Madison Square Garden | John Doe</li>
                <li><a href="#">Live Vibes 2023</a>  - Madison Square Garden | Alice Smith</li>
                <li><a href="#">Amazing Concert</a>  - Madison Square Garden | John Doe</li>
                <li><a href="#">Live Vibes 2023</a>  - Madison Square Garden | Alice Smith</li>
                <li><a href="#">Amazing Concert</a>  - Madison Square Garden | John Doe</li>
                <li><a href="#">Live Vibes 2023</a>  - Madison Square Garden | Alice Smith</li>
                <li><a href="#">Amazing Concert</a>  - Madison Square Garden | John Doe</li>
                <li><a href="#">Live Vibes 2023</a>  - Madison Square Garden | Alice Smith</li>
                <li><a href="#">Amazing Concert</a>  - Madison Square Garden | John Doe</li>
                <li><a href="#">Live Vibes 2023</a>  - Madison Square Garden | Alice Smith</li>
            </ul>
        </div>
        <div class="popularsetlist">
            <h3>Popular Setlists</h3>
            <ul class="listsetlist">
                <li><a href="#">Summer Fest</a> - Sarah Connor | 10 Dec 2024</li>
                <li><a href="#">Rock Classics</a> - Mike Wilson | 9 Dec 2024</li>
                <li><a href="#">Electronic Dreams</a> - DJ Tempo | 8 Dec 2024</li>
                <li><a href="#">Indie Vibes</a> - Chloe Green | 7 Dec 2024</li>
                <li><a href="#">Summer Fest</a> - Sarah Connor | 10 Dec 2024</li>
                <li><a href="#">Rock Classics</a> - Mike Wilson | 9 Dec 2024</li>
                <li><a href="#">Electronic Dreams</a> - DJ Tempo | 8 Dec 2024</li>
                <li><a href="#">Indie Vibes</a> - Chloe Green | 7 Dec 2024</li>
                <li><a href="#">Electronic Dreams</a> - DJ Tempo | 8 Dec 2024</li>
                <li><a href="#">Indie Vibes</a> - Chloe Green | 7 Dec 2024</li>
            </ul>
        </div>
    </div>
</body>
</html>