<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Artist Name</title>
    <link rel="stylesheet" th:href="@{/css/setlistDetail.css}">
</head>

<header>
    <div class="kotak_ungu"></div>
    <nav>
        <img src="@{/assets/icon.png}" alt="" id="logo">
        <P id="home"><a th:href="@{/}">HOME</a></P>
        <p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
        <P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
        <P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
        <P id="news">NEWS</P>

        <div class="button-container">
            <form action="/addsetlist" method="GET">
                <button type="submit" class="button setlist">+SET LIST</button>
            </form>
            <form action="/logout" method="GET" th:if="${isUserLoggedIn}">
                <button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>
            </form>
            <form action="/login" method="GET" th:if="${!isUserLoggedIn}">
                <button type="submit" class="button login">LOG IN</button>
            </form>
        </div>
    </nav>
</header>

<body>
    <!--        Search Bar and Header Text-->
    <div class="search-container">
        <!--  <h1 id="slogan">Discover Your Favorite Artist</h1>-->
        <img src="" alt="" class="background-search">
        <div class="blackBox"></div>
        <div class="search_bar">
            <form action="">
                <input type="text" placeholder="Search for Artists...">
            </form>
            <div>
                <img src="assets/search.png" alt="" class="icon_search">
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="artist-setlists">
            <div class="setlist-content">
                <h1><a th:href="@{/artist/{namaArtis}-{idArtis}(namaArtis=${#strings.replace(generalInfo.namaArtis, ' ', '-')}, idArtis=${generalInfo.idArtis})}"
                        th:text="${generalInfo.namaArtis}"></a> Setlist</h1>
                <h2 th:text="at + ' ' + ${generalInfo.namaLokasiConcert}"></h2>
                <h3 th:text="on + ' ' + ${#temporals.format(generalInfo.tanggal, 'd MMMM yyyy')}"></h3>
                <ol class="artist-list">
                    <li th:each="lagu : ${listLagu}">
                        <a th:href="@{/song/{namaLagu}-{idLagu}(namaLagu=${#strings.replace(lagu.namaLagu, ' ', '-')}, idLagu=${lagu.idLagu})}"
                            th:text="${lagu.namaLagu}"></a>
                    </li>
                </ol>
            </div>
            <form action="/addPenggunaSetlist" method="post">
                <input type="hidden" name="idSetlist" th:value="${idSetlist}">
                <input type="hidden" name="namaSetlist" th:value="${namaSetlist}">
                <button type="submit" th:if="${terdaftar != true}" th:text="'I was there'">I Was There</button>

                <button type="submit" th:if="${terdaftar == true}" th:text="'I wasn\'t there'">I Wasn't There</button>
            </form>
            <select name="edit-option" id="edit-option" class="edit-list">
                <option value="" selected="selected" disabled>Select an edit option</option>
                <option value="1" th:data-url="@{/edit/setlistSongs/{idSetlist}(idSetlist=${idSetlist})}">Edit setlist song</option>
                <option value="2" th:data-url="@{/edit/setlist/{idSetlist}(idSetlist=${idSetlist})}">Edit setlist info</option>
            </select>
            
        </div>
        <!--  comment-->
        <div class="setlist-content">
            <h1>Comments</h1>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Username</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="komentar : ${listKomentar}">
                        <td th:text="${#dates.format(komentar.tanggal, 'dd-MM-yyyy HH:mm')}">2024-12-30</td>
                        <td th:text="${komentar.username}">JohnDoe</td>
                        <td th:text="${komentar.komentar}">Great setlist! The encore was amazing.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="setlist-content">
            <h1>Edits</h1>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="history : ${listHistory}">
                        <td th:text="${#dates.format(history.tanggalDiubah, 'dd-MM-yyyy HH:mm')}">2024-12-30</td>
                        <td th:text="${history.username}">JohnDoe</td>
                        <td><button><a
                                    th:href="@{/setlistHistory/{idSetlist}/{date}(idSetlist = ${history.idSetlist}, date = ${history.tanggalDiubah})}">DETAIL</a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.getElementById('edit-option').addEventListener('change', function() {
            const selectedOption = this.options[this.selectedIndex];
            const url = selectedOption.getAttribute('data-url');
            
            if (url) {
                window.location.href = url;  // Redirect to the URL
            }
        });
    </script>
</body>

</html>