<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FaveList | Detail-Song</title>
	<link rel="stylesheet" th:href="@{/css/songDetail.css}">
	<link rel="icon" href="/assets/icon.png" type="image/png">
</head>
<header>
	<div class="kotak_ungu"></div>
	<nav>
		<img src="/assets/logo5.png" alt="logo image" id="logo">
		<P id="home"><a th:href="@{/}">HOME</a></P>
		<p id="setlist"><a th:href="@{/setlist}">SETLIST</a></p>
		<P id="artist"><a th:href="@{/artist}">ARTIST</a></P>
		<P id="concert"><a th:href="@{/concert}">CONCERT</a></P>
		<P id="song"><a th:href="@{/song}">SONG</a></P>

		<div class="button-container">
			<button type="submit" class="button setlist"><a th:href="@{/addsetlist}">+SET LIST</a></button>
			<form action="/logout" method="GET" th:if="${isUserLoggedIn}">
				<button type="submit" class="button logout" style="background-color: red;">LOG OUT</button>
			</form>
			<form action="/login" method="GET" th:if="${!isUserLoggedIn}">
				<button type="submit" class="button login">LOG IN</button>
			</form>
		</div>
	</nav>
</header>

<body>
	<div class="search-container">
		<img src="/assets/background_search_main.png" alt="" class="background-search">
		<div class="blackBox"></div>
		<div class="search_bar">
			<form action="/song" method="get">
				<h1 id="slogan">Discover Your Favorite Artist</h1>
				<input type="text" placeholder="Search for Artists..." th:value="${filter}" name="filter">
				<input type="hidden" name="page" th:value="1">
			</form>
			<div>
				<img src="/assets/search.png" alt="" class="icon_search">
			</div>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="artist-image">
			<img th:src="@{'/api/uploads/images' + ${Lagu.urlGambarLagu}}" alt="Lagu Image">
		</div>
		<div class="artist-setlists">
			<h1 th:text="${Lagu.namaLagu}">
			</h1>
			<span th:text="'From album: ' + ${laguArtisAlbum.namaAlbum}"></span><br>
			<a th:href="@{/artist/{namaArtis}-{idArtis}(namaArtis=${#strings.replace(laguArtisAlbum.namaArtis, ' ', '-')}, idArtis=${laguArtisAlbum.idArtis})}" th:text="' by ' + ${laguArtisAlbum.namaArtis}"></a>
			<h3 th:text="'Played ' + ${jumlahDimainkan.jumlahSetlist} + ' times'"></h3>
			<h3>Played first time at 
				<a th:if="${pertama != null}" 
				th:href="@{/concert/{namaShow}-{idShow}(namaShow=${#strings.replace(pertama.namaShow, ' ', '-')}, idShow=${pertama.idShow})}" 
				th:text="(${pertama} != null ? ${pertama.namaShow} : 'Not available')"></a>
				<span th:text="' on ' + ${#dates.format(pertama.tanggal, 'd MMMM yyyy')}"></span>
			</h3>

			<h3>Played recently at 
				<a th:if="${terakhir != null}" 
				th:href="@{/concert/{namaShow}-{idShow}(namaShow=${#strings.replace(terakhir.namaShow, ' ', '-')}, idShow=${terakhir.idShow})}" 
				th:text="(${terakhir} != null ? ${terakhir.namaShow} : 'Not available')"></a>
				<span th:text="' on ' + ${#dates.format(terakhir.tanggal, 'd MMMM yyyy')}"></span>
			</h3>

			<!-- <ul class="artist-list">
				<li th:each="lokasiDate : ${lokasiDates}">
					<div class="location">
						<img src="/assets/map.png" alt="Location at" class="map-image">
						<a href="#" th:text="${artis.namaArtis} + ' at ' + ${lokasiDate.namaLokasiConcert}"></a>
						<a href="">by Jaki di soreang</a>
					</div>
					<div class="location"> 
						<img src="/assets/calender.jpg" alt="Location at" class="date-image">
						<span class="setlists" th:text="'Date: ' + ${#temporals.format(lokasiDate.tanggal, 'dd-MM-yyyy')}"></span>
					</div>
				</li>
			</ul> -->
		</div>
	</div>

</body>

</html>