<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    <h1>Upload Image</h1>
    
    <form th:action="@{/images/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required />
        <br>
        <label for="kategori">Kategori:</label>
        <select name="kategori" id="kategori">
            <option value="bukti">Bukti</option>
            <option value="artis">Artis</option>
            <option value="lagu">Lagu</option>
            <option value="setlist">Setlist</option>
        </select>
        <button type="submit">Upload</button>
    </form>

    <div th:if="${message != null}">
        <p th:text="${message}"></p>
    </div>

    <a href="/images/download">Go to download page</a>
</body>
</html>
